<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
</head>
<body role="document">
<!-- 导栏航 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">&nbsp;</a>
    <ul class="nav justify-content-center"></ul>
    <ul class="nav justify-content-end">
      <li class="nav-link"><a style="color:white" href="#">{{ user }}</a></li>
      <li class="nav-link"><a style="color:white" href="/logout/">退出</a></li>
    </ul>
  </div>
</nav>
<!-- web 测试用例列表 -->
<div class="row" style="padding-top:60px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th><th>产品</th><th>测试用例名称</th><th>测试结果</th><th>测试负责人</th><th>时间</th><th>
            </thead>
            <tbody>
            {% for webcase in webcases %}
            <tr>
                <td>{{ webcase.id }}</td>
                <td>{{ webcase.Product.productname }}</td>
                <td><a href="/webcasestep_manage/">{{ webcase.webcasename }}</a></td>
                <td>{{ webcase.webtestresult }}</td>
                <td>{{ webcase.webtester }}</td>
                <td>{{ webcase.create_time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>